[core]
	excludesfile = ~/.gitignore
[user]
	email = caleb@alerque.com
	name = Caleb Maclennan
[github]
	user = alerque
[pld]
	user = caleb@pld-linux.org
[push]
	default = simple
[color]
	ui = true
[merge]
	ff = false
[branch]
	autosetuprebase = always
	rebase = preserve
[pull]
	rebase = true
[rebase]
	autosquash = true
	autostash = true
[alias]
	graph = log --all --graph --decorate --oneline
	br = branch
	ci = commit
	co = checkout
	ds = diff --staged
	st = status
	lg = log --oneline --reverse
	dls = diff-tree --no-commit-id --name-status -r
[log]
	abbrevCommit = true
[status]
	short = true
