[core]
	excludesfile = ~/.gitignore
[user]
	email = caleb@alerque.com
	name = Caleb Maclennan
[github]
	user = alerque
[pld]
	user = caleb@pld-linux.org
[push]
	default = matching
[color]
	ui = true
[merge]
	ff = false
[branch]
	autosetuprebase = always
[branch "*"]
	rebase = preserve
