[core]
	excludesfile = ~/.gitignore
[user]
	email = caleb@alerque.com
	name = Caleb Maclennan
[github]
	user = alerque
[pld]
	user = caleb@pld-linux.org
[push]
	default = simple
[color]
	ui = true
[merge]
	ff = false
[branch]
	autosetuprebase = always
	rebase = preserve
[pull]
	rebase = true
[rebase]
	autosquash = true
	autostash = true
	preserve = true
[alias]
	graph = log --all --graph --decorate --oneline
	br = branch
	ci = commit
	co = checkout
	di = diff --minimal
	ds = diff --minimal --staged
	wd = diff --word-diff --ignore-all-space
	wds = diff --staged --word-diff --ignore-all-space
	difftex = difftool -y -t latex
	st = status
	lg = log --oneline --reverse
	dls = diff-tree --no-commit-id --name-status -r
	getroot = !pwd
	# http://stackoverflow.com/a/4991675/313192
	oldest-ancestor = !zsh -c 'diff --old-line-format='' --new-line-format='' <(git rev-list --first-parent "${1:-master}") <(git rev-list --first-parent "${2:-HEAD}") | head -1' -
	branchlog = !sh -c "git log `git oldest-ancestor`.."
	branchdiff = !sh -c "git diff `git oldest-ancestor`.."
	rebase2fork = !zsh -c 'git rebase -i $(git merge-base --fork-point "${0:-master}")'
[log]
	abbrevCommit = true
[status]
	short = true
[rerere]
	enabled = true
[difftool.latex]
	cmd = latexdiff "$LOCAL" "$REMOTE"
